/* body {
    background-color: rgb(236, 91, 159);
} */

li {
    list-style:none;
}

button{
    padding: 3px;
    margin: 5px;
}

menu {
    display: flex;
    justify-content: end;
}

/* .footer{
    display: flex;
} */

.attribute{
    color: rgb(195, 206, 217);
}

.nav {
    background-color: deeppink;
}